@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
    --border: 1px solid gainsboro;
    --background-color: whitesmoke;
    --text-secondary-color: gray;
    --golden-ratio: 0.618;
    --bold: 600;
    --mono: hack, menlo, consolas, monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:focus {
    outline: none;
}

button {
    font: inherit;
    border: none;
}

textarea {
    border-radius: 0;
}

table {
    max-width: 100%;
}

html,
body {
    height: 100%;
}
body {
    display: flex;
    font: 16px/1.5 system-ui;
    word-break: break-word;
    tab-size: 4;
}

.window {
    flex: 1;
    padding: 1em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.editor {
    font: inherit;
    font-family: var(--mono);
    font-size: 14px;
    white-space: pre;
    color: white;
    border: none;
    background: #263238;
}

.previewer {
    & > *,
    & blockquote > *,
    & li > * {
        margin: 1em 0;

        &:first-child {
            margin-top: 0;
        }
    }
    & li {
        & ol,
        & ul {
            margin-top: 0;
        }
    }

    & :--heading {
        font-weight: var(--bold);
        font-size: 1em;
        margin: 1.25em 0 0.75em;

        &:first-child,
        & + :--heading {
            margin-top: 0;
        }
    }
    & h1,
    & h2 {
        border-bottom: var(--border);
        padding-bottom: 0.25em;
    }
    & h1 {
        font-size: 2em;
    }
    & h2 {
        font-size: 1.5em;
    }
    & h3 {
        font-size: 1.25em;
    }

    & > ol,
    & > ul {
        margin-left: 2em;

        & ol,
        & ul {
            margin-left: 2em;
        }
    }

    & a {
        color: royalblue;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    & strong {
        font-weight: var(--bold);
    }

    & pre,
    & code,
    & kbd {
        font-family: var(--mono);
        font-size: 0.8em;
        padding: 0.2em 0.4em;
        background: var(--background-color);
        border-radius: 0.2em;
    }
    & pre {
        padding: 1em;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        & code {
            font-size: 1.1em;
            padding: 0;
            background: none;
            border-radius: 0;
        }
    }

    & kbd {
        font-size: 0.7em;
        color: white;
        background: var(--text-secondary-color);
        border-radius: 0.4em;
    }

    & table {
        border: var(--border);
        border-collapse: collapse;
    }
    & tbody tr:hover {
        background: var(--background-color);
    }
    & th,
    & td {
        padding: 0.5em 1em;
        border: var(--border);
    }
    & th {
        font-weight: var(--bold);
    }

    & blockquote {
        color: var(--text-secondary-color);
        border-left: var(--border);
        border-left-width: 0.25em;
        padding: 0 1em;

        & > :last-child {
            margin-bottom: 0;
        }
    }

    & .language-sh,
    & code:not([class]) {
        & * {
            font-weight: inherit;
            font-style: inherit;
            color: inherit;
        }
    }
}

.toggler {
    display: none;
}



@media screen and (max-width: 576px) {
    .editor {
        display: none;
    }

    .toggler {
        position: fixed;
        right: 0;
        top: 0;
        display: block;
        line-height: 1;
        color: black;
        padding: 0.5em;
        background: none;
        opacity: var(--golden-ratio);

        &::before {
            content: '\270E';
        }
    }

    .editing {
        & .editor {
            display: block;
        }

        & .previewer {
            display: none;
        }

        & .toggler {
            color: white;
            opacity: 1;
        }
    }
}



@media print {
    html,
    body {
        height: auto;
    }

    .editor {
        display: none;
    }

    .previewer {
        & pre {
            white-space: pre-wrap;
        }
    }
}
